<!DOCTYPE html>
<html lang="en" ng-app="DT">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DT</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.5.9/jquery.fullPage.min.css">

    <link rel="stylesheet" href="css/custom-styles.css">

  </head>
  <body>

<!--     <nav class="navbar navbar-fixed-top navbar-custom">
      <div class="container" ng-controller="NavigationBarController">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Logo</b></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: containsHash(hash, '#trends')}"><a href="#trends"><b>Trends</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
 -->
    <div id="fullpage">
      <div class="section" id="section1" ng-controller="FirebaseController">
        <div class="container">

          <h1 class="text-center">Crude Oil News</h1>
          <ul>
            <li ng-repeat="article in firebaseNews">
              <h3><a href="{{article.url}}" target="_blank">{{article.title}}</a></h3>
              <b>{{article.date}}</b>
              <p>{{article.summary}}</p>
            </li>
          </ul>
          <h1 class="text-center">Top Trending</h1>
<!--           <form ng-submit="searchSymbols()">
            <div class="input-group">
              <input type="text" class="form-control input-lg" ng-list ng-trim="true" ng-model="symbols" name="text" placeholder="Search for...">
              <span class="input-group-btn">
                <input class="btn btn-primary btn-lg" type="submit" id="submit" value="Search Symbols">Go!</input>
              </span>
            </div>
          </form>
 -->          <ol>
            <li ng-repeat="stock in firebaseStocks | orderBy:'changePercent':true">
              <div class="symbol">
                <span class="symbol-text">{{stock.symbol}}</span>
                <span class="symbol-current">{{stock.current}}</span>

                <span class="glyphicon glyphicon-triangle-top symbol-green" ng-if="isPositive(stock.changePrice)"></span>
                <span class="glyphicon glyphicon-triangle-bottom symbol-red" ng-if="!isPositive(stock.changePrice)"></span>

                <span ng-class="{'symbol-green' : isPositive(stock.changePrice), 'symbol-red' : !isPositive(stock.changePrice)}">{{stock.changePrice}} ({{stock.changePercent}}%)             
                </span>
                <span class="glyphicon glyphicon-eye-open" ng-if="stock.isTrending"></span>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p><i>{{stock.name}}</i></p>
                  <p>Open: {{stock.open}} | Close: {{stock.close}}</p>
                  <p>Day Range: {{stock.dayRange}}</p>
                  <p>Year Range: {{stock.yearRange}}</p>
                  <p>Dividend Yield: {{stock.dividendYield}}</p>
                  <p>Dividend Pay Date: {{stock.dividendPayDate}}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <p>Last Purchase: {{stock.lastPurchase}}</p>
                  <p>Last Updated: {{stock.lastUpdate | date: 'medium'}}</p>
                  <p>Average Daily Volume: {{stock.averageDailyVolume}}</p>
                  <p>Fifty Day Moving Average: {{stock.fiftyDayMovingAverage}}</p>
                  <p>Two Hundred Day Moving Average: {{stock.twoHundredDayMovingAverage}}</p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.5.9/vendors/jquery.easings.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.5.9/vendors/jquery.slimscroll.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.5.9/jquery.fullPage.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="js/customFullPage.js"></script>

    <script src="js/app.js"></script>
    <script src="js/navigation-bar-controller.js"></script>
    <script src="js/firebase-controller.js"></script>    

    <!-- Sample Data -->
    <script src="sample/sample-tech-data.js"></script>
    <!-- Dictionary of negative, neutral, and positive words -->
    <script src = "js/dictionary.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

  </body>
</html>